<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도 네 왕</title>
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/basic.css"/>
</head>
<body>
<header id=header>
    <h1>
        <a href=index.jsp><img src="/img/title.png" width=300 height=50></a>
    </h1>
</header>
<nav id=header2>
    <a href=login.jsp>로그인 | </a>
    <a href=join.jsp> 회원가입 | </a>
    <a href=qna.jsp> 고객센터</a>  &emsp;  &emsp;
</nav>

<nav id=index>
    <a href=form.jsp>판매</a> &nbsp; &nbsp; &nbsp; <a href=member_list.jsp>구매</a>
    &nbsp; &nbsp; &nbsp; <a href=money_donation.jsp>바로 후원 </a> &nbsp; &nbsp;
    &nbsp; <a href=list.jsp>게시판</a>
</nav>

<!-- 코드 작성 부분 -->



<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>
</body>
</html>