<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>도 네 왕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <% if(session.user) { %>
            <a href="../users/logout">로그아웃</a>
            <% } else { %>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
            <% } %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<div class="inner">
    <br>
    <div class="row uniform">
        <div class="6u 12u$(small)">
            <strong style="font-size: 25px"> 상품 목록 </strong>
        </div>
        <div class="6u 12u$(small)">
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="3u 12u$(small)">
                    </div>
                    <div class="6u 12u$(small)">
                        <input type="text" name="query" id="query" value="" placeholder="" />
                    </div>
                    <div class="3u$ 12u$(small)">
                        <input type="submit" value="검색"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="box alt">
        <%
        var i;
        var j;
        for(i=0; i<2; i++) {
        %>
        <div class="row 50% uniform">
            <%
                    for(j=0; j<4; j++) {
                        var data = rows[j];
            %>
                        <div class="3u" align="center">
                            <table style="width: fit-content;">
                                <tr align="center">
                                    <td colspan="2"> <img src="../images/pic01.jpg" style="width: 200px; height: 200px"> </td>
                                </tr>
                                <tr align="center">
                                    <td>제목</td>
                                    <td><%=data.title%></td>
                                </tr>
                                <tr align="center">
                                    <td>가격</td>
                                    <td><%=data.start_price%></td>
                                </tr>
                                <tr align="center">
                                    <td>남은 시간</td>
                                    <td><%=data.duration%></td>
                                </tr>
                            </table>
                        </div>
            <% } %>
        </div>
        <br><br><br>
        <% } %>
    </div>
</div>

<!-- Footer -->
<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>