<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>도 네 왕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <% if(session.user) { %>
            <a href="../users/logout">로그아웃</a>
            <% } else { %>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
            <% } %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<div class="inner">
    <br>
    <strong style = "font-size: 20px;"> 제품 상세 보기 </strong> <hr>
    <form name=f1 method="post" action="direct_done_proc.html" onSubmit="return functionK();">
        <div class="row uniform">
            <% var product_ = product_info; 
            var seller = seller_info;%>
            <div class="6u 12u$(xsmall)" align="center">
                <img src="<%=product_.product_picture%>" style="width: 600px; height: 600px">
            </div>
            <div class="6u 12u$(xsmall)" align="center">
                <table border="1" style="width: 600px; height: 600px">
                    <tr align="left">
                        <td>제목</td>
                        <td><%=product_.title%></td>
                    </tr>
                    <tr align="left">
                        <td>경매 시작 가격</td>
                        <td>&#8361;<%=product_.start_price%></td>
                    </tr>
                    <tr align="left">
                        <td>현재 가격</td>
                        <td>&#8361;10,000</td>
                    </tr>
                    <tr align="left">
                        <td>후원 비율</td>
                        <td><%=product_.interst_spon%></td>
                    </tr>
                    <tr align="left">
                        <td>남은 시간</td>
                        <td><%=product_.remain_time%></td>
                    </tr>
                    <tr align="left">
                        <td>판매자</td>
                        <td><%=seller.nickname%></td>
                    </tr>
                    <tr align="left">
                        <td>계급</td>
                        <td><%=seller.rank%></td>
                    </tr>
                    <tr align="left" bgcolor="#f0f8ff">
                        <td>총 후원자</td>
                        <td>100명</td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <div class="field">
            <br>
            <textarea name="message" id="내용" rows="6" placeholder="내용" bgcolor="#f0f8ff"></textarea>
        </div>
        <br>
        <div class="12u$">
            <ul class="actions">
                <li><input type="submit" value="(+&#8361;1,000) 입찰 하기" /></li>
            </ul>
        </div>
</div>

<!-- Footer -->
<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>