<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>도 네 왕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<div class="inner">
    <div style = "margin-top : 30px; position : relative"></div>
    <div class="ui main text container" style = "width : 1200px; height : 100px; margin : 0 auto; position : relative;">
        <h1 class="ui header">판매등록</h1>
        <hr id = "slaeline"/>
    </div>
    <form action="/generic" method="POST">
        <p>
            <strong style = "font-size: 20px;">경매 기한</strong>
            <input type="text"  name = "expire_time" placeholder="12" style = "text-align: right; height: 30px; font-size: 15px; width : 200px; " list="timer">시간
            <datalist id = "timer">
                <option value="12"></option>
                <option value="24"></option>
                <option value="36"></option>
                <option value="48"></option>
            </datalist>
        </p>
        <p>
            <strong style = "font-size: 20px;">시작 가격</strong>
            <input name = "start_price" type="text" placeholder="1000" style = "text-align: right; height: 30px; font-size: 15px; width : 200px; ">
            <h style="margin-left:10px;">원</h>
        </p>
        <p>
            <strong style = "font-size: 20px; margin-left: 48px">후원</strong>
            <input type="text" name = "done_percentage" placeholder="2" style = "text-align: right; height: 30px; font-size: 15px; width : 200px; ">
            <h style="margin-left:10px;">%</h>
        </p>

        <hr />

        <div class="row uniform">
            <div class="9u 12u$(small)">
                <input type="text" name="title" id="title" value="" placeholder="<제목을 입력하세요.>" />
            </div>
            <div class="3u$ 12u$(small)">
                <input type="text" name = "category" placeholder="종류" list="what">
                <datalist id = "what">
                    <option value="옷"></option>
                    <option value="악세사리"></option>
                    <option value="신발"></option>
                    <option value="전자제품"></option>
                    <option value="기타"></option>
                </datalist>
            </div>
        </div>
        <div class="field">
            <!--                  <label for="내용">Message</label>-->
            <br>
            <textarea name="message" id="내용" rows="6" placeholder="내용"></textarea>
        </div>
        <p>
            <input type="file" name = "pic" accept=".jepg, .jpg, .png"  onchange="alert(this.value)" multiple>
            <button type = "submit" >등록하기</button>
        </p>

    </form>
</div>

<!-- Footer -->
<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>