#h0{
    margin-top: 100px;
    position: relative;
}
#h1{
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    position: relative;

}

#slaeline{
    margin: 0 auto;
    width: 1200px;
    color: black;
    position: absolute;
}



form{
    margin: 0 auto; 
    width: 1200px;
    height: 1200px;
    position: relative;
}

datalist{
    display: none;
}