<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도 네 왕</title>
    <link rel="stylesheet" href="../assets/css/main.css" />

</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <% if(session.loginAlert == true) { %>
            <script>
                alert("로그인이 필요합니다")

            </script>
        <% }
        else if(session.message == "wrong_id") {
        %>
            <script>
                alert("잘못된 아이디 입니다.")

            </script>
        <% }
        else if(session.message == "wrong_pw") {
        %>
            <script>
                alert("잘못된 비밀번호 입니다.")

            </script>
        <% } session.loginAlert = false %>
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <% if(session.user) { %>
            <a href="../users/my_tradeInfo">마이페이지</a>
            <a href="../users/confirm_myInfo">내 정보</a>
            <a href="../users/logout">로그아웃</a>
            <% } else { %>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
            <% } %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
<br><br>
<section id="main" class="wrapper">
    <div class="inner" align="center">
    <!-- 코드 작성 부분 -->
        <strong style = "font-size: 20px; "> 로 그 인 </strong>
            <div align="center">
                <form action="login" method="post">
                    <div class="row uniform">
                        <div class="12u$">
                            <input type="text"  name = "id" placeholder="아이디" style = "text-align: center; height: 40px; font-size: 15px; width : 330px; margin-bottom: 15px; margin-top: 20px;">
                        </div>
                        <div class="12u$" >
                            <input type="password"  name = "pwd" placeholder="비밀번호" style = "text-align: center; height: 40px; font-size: 15px; width : 330px; margin-bottom: 25px;">
                        </div>
                        <div class="12u$">
                            <input type="submit" value="로그인" style="width: 170px;"> &emsp;
                            <a href="../users/register"><input type="button" value="회원가입"></a>
                        </div>
                    </div>
                </form>
            </div>

            <a href="../users/find_id"> 아이디 찾기 </a> &emsp; &emsp;
            <a href="../users/find_passwd">비밀번호 찾기</a>

        </form>
        </div>
</section>


<br><br>

<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>
<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>