<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도 네 왕</title>
    <link rel="stylesheet" href="../assets/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/basic.css"/>
</head>
<body>
<!--<header id=he1>-->
<!--    <h1>-->
<!--        <a href=index.jsp><img src="/img/title.png" width=300 height=50></a>-->
<!--    </h1>-->
<!--</header>-->
<!--<nav id=he2>-->
<!--    <a href=login.jsp>로그인 | </a>-->
<!--    <a href=join.jsp> 회원가입 | </a>-->
<!--    <a href=qna.jsp> 고객센터</a>  &emsp;  &emsp;-->
<!--</nav>-->
<header id="header">
    <div class="inner">
        <a href="index.html" class="logo"><img src="/img/title.png" style="size : auto;"></a>
        <nav id="nav">
            <a href=login.jsp>로그인 | </a>
            <a href=join.jsp> 회원가입 | </a>
            <a href=qna.jsp> 고객센터</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
<!--<header id="header">-->
<!--    <div class="inner">-->
<!--        <h1>-->
<!--            <a href=index.jsp><img src="/img/title.png" width=300 height=50></a>-->
<!--        </h1>-->
<!--        <nav id=he2>-->
<!--            <a href=login.jsp>로그인 | </a>-->
<!--            <a href=join.jsp> 회원가입 | </a>-->
<!--            <a href=qna.jsp> 고객센터</a>  &emsp;  &emsp;-->
<!--        </nav>-->
<!--        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->
<!--    </div>-->
<!--</header>-->

<section id="main" class="wrapper">
    <nav id=ind>
        <a href=form.jsp>판매</a> &nbsp; &nbsp; &nbsp; <a href=member_list.jsp>구매</a>
        &nbsp; &nbsp; &nbsp; <a href=money_donation.jsp>바로 후원 </a> &nbsp; &nbsp;
        &nbsp; <a href=list.jsp>게시판</a>
        <br>
    </nav>

    <!-- 코드 작성 부분 -->
    <section id="ce2">
        <div align="center">
            <strong style = "font-size: 20px; "> 로 그 인 </strong>
            <form action="login_proc.jsp">
                <input type="text"  name = "id" placeholder="아이디" style = "text-align: center; height: 40px; font-size: 15px; width : 220px; margin-bottom: 15px; margin-top: 20px;">

                <input type="text"  name = "pwd" placeholder="비밀번호" style = "text-align: center; height: 40px; font-size: 15px; width : 220px; margin-bottom: 25px;">


                <input type=submit value="로 그 인">

            </form>
        </div>
    </section>
</section>


<footer id = fo1>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>
<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
</body>
</html>