<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>도 네 왕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <% if(session.user) { %>
            <a href="../users/my_tradeInfo">마이페이지</a>
            <a href="../users/confirm_myInfo">내 정보</a>
            <a href="../users/logout">로그아웃</a>
            <% } else { %>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
            <% } %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<div class="inner">
    <%var myinfo = my_info;
    var mysell = my_sell;
    var mysell_length = my_sell_length;
    var mybuy = my_buy;
    var mybuy_length = my_buy_length;%>
    <!-- mysell_length는 내가 판매한 상품 개수야! mybuy_length는 내가 입찰 참여한 수야!  -->
    <br>
    <strong style="font-size: 25px;"> 마이페이지 </strong>
    <hr>
    <div class="row uniform">
        <div class="12u$">
            <label for="title">나의 후원 금액</label>
            <div class="6u 12u$">
                <div class="box">
                    <h3 align="center">&#8361;<%=myinfo.amount_donate.toLocaleString()%></h3>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row uniform">
        <div class="12u$" align="center">
            <label for="title">판매 등록한 제품</label>
            <table style="width: 100%;">
                <tr align="center">

                    <td style="width: 35%"> 제목 </td>
                    <td style="width: 35%"> 내용 </td>
                    <td style="width: 15%"> 시작 가격</td>
                    <td style="width: 15%"> 후원 비율</td>

                </tr>
                <%  if(mysell_length >2){
                    for(var i=0; i<3; i++) {
                %>
                    <tr align="center">

                        <td><%=mysell[i].title%></td>
                        <td><%=mysell[i].product_describe%></td>
                        <td><%=mysell[i].start_price.toLocaleString()%></td>
                        <td><%=mysell[i].interest_spon%></td>
                    </tr>
                <% }} else if(mysell_length>0){
                    for(var p=0; p < mysell_length; p++){%>
                    <tr align="center">
                        <td><%=mysell[i].title%></td>
                        <td><%=mysell[i].product_describe%></td>
                        <td><%=mysell[i].start_price.toLocaleString()%></td>
                        <td><%=mysell[i].interest_spon%></td>
                    </tr>
                <%}} else{%>
                    <tr align="center">
                        <td> ---- </td>
                        <td> ---- </td>
                        <td> ---- </td>
                        <td> ---- </td>

                    </tr>
                <%}%>
            </table>
        </div>
        <div class="12u$" align="right">
            <a href="/search?id=<%=session.user.id%>&page=1">[더보기]</a>
        </div>
    </div>
    <hr>
    <div class="row uniform">
        <div class="12u$" align="center">
            <label for="title">입찰 참여한 제품</label>
            <table style="width: 100%;">
                <tr align="center">

                    <td style="width: 35%"> 제목 </td>
                    <td style="width: 35%"> 내용 </td>
                    <td style="width: 15%"> 시작 가격</td>
                    <td style="width: 15%"> 후원 비율</td>

                </tr>
                <% if(mybuy_length >2){
                for(var i=0; i<3; i++) {
                %>
                <tr align="center">

                    <td><%=mybuy[i].title%></td>
                    <td><%=mybuy[i].product_describe%></td>
                    <td><%=mybuy[i].bid_price.toLocaleString()%></td>
                    <td><%=mybuy[i].interest_spon%></td>
                </tr>
                <% }} else if(mybuy_length >0){
                    for(var p=0; p < mybuy_length; p++){%>
                <tr align="center">
                    <td><%=mybuy[i].title%></td>
                    <td><%=mybuy[i].product_describe%></td>
                    <td><%=mybuy[i].bid_price.toLocaleString()%></td>
                    <td><%=mybuy[i].interest_spon%></td>
                </tr>
                <%}}else{%>
                <tr align="center">
                    <td> ---- </td>
                    <td> ---- </td>
                    <td> ---- </td>
                    <td> ---- </td>
                    

                </tr>
                <%}%>
            </table>
        </div>
        <div class="12u$" align="right">
            <a href="">[더보기]</a>
        </div>
        </div>
    </div>
    <br><br>

</div>

<!-- Footer -->
<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>