<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>도 네 왕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>
<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <% if(session.user) { %>
            <a href="../users/logout">로그아웃</a>
            <% } else { %>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
            <% } %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<div class="inner">
    <br>
    <strong style = "font-size: 20px;"> 후원 기관 </strong> <hr>
    <table>
        <tr>
            <td> 번호</td>
            <td> 제목 </td>
            <td> 작성자 </td>
            <td> 계급 </td>
            <td> 등록일 </td>
        </tr>
        <%
            var = i;
            for(i=0; i<10; i++) {
        %>
            <tr>
                <td><%= %></td>
                <td><%= %></td>
                <td><%= %></td>
                <td><%= %></td>
                <td><%= %></td>
            </tr>
        <% } %>
    </table>
</div>

<!-- Footer -->
<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>

</body>
</html>