<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>도 네 왕</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/css/main.css" />
</head>

<body class="subpage">

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="../" class="logo"><img src="/img/logo_m.png" style="size:auto;"></a>
        <nav id="nav">
            <a href="../trade/upload_item" role="tab">판매</a>
            <a href="../trade/item_list">구매</a>
            <a href="../trade/direct_done">바로 후원 </a>
            <a href="../notice/notice">게시판</a>
            <% if(session.user) { %>
            <a href="../users/my_tradeInfo">마이페이지</a>
            <a href="../users/confirm_myInfo">내 정보</a>
            <a href="../users/logout">로그아웃</a>
            <% } else { %>
            <a href="../users/login">로그인</a>
            <a href="../users/register">회원가입</a>
            <% } %>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>
<div class="inner">
    <br><br>
    <strong style = "font-size: 20px;">게시글 상세보기</strong>
    <hr>
    <!-- @@@@@ title의 value에, content의 placeholder 에다가 디비에서 가져온 값 넣으면 됨! -->
    <% var notice = notice_info; %>
    <div class="row uniform">
        <div class="6u 12u$(small)">
            <label for="title">제목</label>
            <input disabled name="name" id="name" type="text" placeholder="<%=notice.title%>">
        </div>
        <div class="6u 12u$(small)">
            <label for="createdAt">등록일</label>
            <input disabled name="createAt" id="createAt" type="text" placeholder="<%=notice.uptime%>">
        </div>
    </div>
    <br>
    <div class="field">
        <label for="내용">내용</label>
        <textarea disabled name="message" id="message" rows="15" placeholder="<%=notice.description%>"></textarea>
    </div>
    <br><br>
    <div class="row uniform">
        <div class="12u$" align="center">
            <a href="../notice/notice"> <input type="button" value="목록 보기" /> </a>
        </div>
    </div>
    <br><br>

</div>

<!-- Footer -->
<footer id = footer>
    DonationKing Copyrightⓒ2020 All rights reserved. Human Resources Development
</footer>

<!-- Scripts -->
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/skel.min.js"></script>
<script src="../assets/js/util.js"></script>
<script src="../assets/js/main.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {
        $('.category').change(function () {
            let cat = $('.category').val()
            $('.ti').val(cat + " ")
        })
    })
</script>

</body>
</html>